:root {
    --primary-color: #32343d; 
    --secondary-color: #BBBEC9; 
    --background-color: #92CCCE;   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
}

/* Header/Nav styles */

header {
    padding: 20px 35px;
    background-color: #32343D;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 50px;
    background-color: var(--background-color);
    justify-content: left;
    text-align: right;
}

.header-div a{
    text-decoration: none;
}

header a {
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    color: var(--background-color);
}


.header-div {
    background-color: var(--background-color);
}

header nav ul li a:hover{
    background: var(--background-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Hero styles */

.hero {
    background-image: url(../images/02-hero-bg.jpg); -webkit-filter: saturate(80%) ;
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height: 200px;
    position: relative;
}

.hero-text h2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--background-color);
    font-size: 23px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    padding: 5px;
    color: var(--primary-color);
}

/* Main Styles */



.contact-me h3, .about-me h3, .work-test h3 {
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary-color);
    font-size: 40px;
    border-right: 1px solid var(--background-color) ;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
}

.work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work img{
    max-width: 600px;
    max-height: 200px;
}

.surf-report img{
   
    width: 100%;
    width: 800px;
    height: auto;
    grid-column: 1/ span 2;
}

.surf-report div {
    
    bottom: 10px;
    left: 10px;
    background-color: var(--background-color);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    box-shadow: #32343d 10px;
    display: block;
}

.surf h4, .led h4 {
    font-size: 25px;
}


/* Footer */

footer {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

footer ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    color: var(--background-color);

}